{% extends 'part/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <h1 style="font-family:'Times New Roman', Times, serif">Hello to our page ! 🥰</h1>
    <meta charset="UTF-8">
    <title>Babies</title>
</head>
<body>
    <div class="page">
        <img id="image1" src="{% static 'gallery/baby/baby7.jpeg' %}" />
        <img id="image2" src="{% static 'gallery\baby\baby66.jpeg' %}" />
        <img id="image3" src="{% static 'gallery/baby/baby88.jpeg' %}" />
        <img id="image4" src="{% static 'gallery/baby/baby99.jpeg' %}" />
        <img id="image5" src="{% static 'gallery/baby/baby10.jpeg' %}" />
        <img id="image6" src="{% static 'gallery/baby/baby5.jpeg' %}" />
        <img id="image7" src="{% static 'gallery/baby/baby4.jpeg' %}" />
        <img id="image8" src="{% static 'gallery/baby/baby2.jpeg' %}" />
        <img id="image9" src="{% static 'gallery/baby/baby3.jpeg' %}" />
        <img id="image10" src="{% static 'gallery/baby/baby1.jpeg' %}" />
        <img id="image11" src="{% static 'gallery/baby/10.jpeg' %}" />
        <img id="image12" src="{% static 'gallery/baby/11.jpeg' %}" />
    </div>
</body>
</html>
{% endblock %}