{% extends 'part/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <h1 style="font-family:'Times New Roman', Times, serif">Here is country Page 🌎! </h1>    
    <title>countries </title>
</head>
<body>
    <div class="page">
        <img id="image1" src="{% static 'gallery/country/cou1.jpeg' %}" />
        <img id="image2" src="{% static 'gallery\country\cou2.jpeg' %}" />
        <img id="image3" src="{% static 'gallery/country/cou3.jpeg' %}" />
        <img id="image4" src="{% static 'gallery/country/cou4.jpeg' %}" />
        <img id="image5" src="{% static 'gallery/country/cou5.jpeg' %}" />
        <img id="image6" src="{% static 'gallery/country/cou6.jpeg' %}" />
        <img id="image7" src="{% static 'gallery/country/cou7.jpeg' %}" />
        <img id="image8" src="{% static 'gallery/country/cou8.jpeg' %}" />
        <img id="image9" src="{% static 'gallery/country/cou9.jpeg' %}" />
        <img id="image10" src="{% static 'gallery/country/cou10.jpeg' %}" />
        <img id="image11" src="{% static 'gallery/country/cou11.jpeg' %}" />
        <img id="image12" src="{% static 'gallery/country/cou12.jpeg' %}" />

    </div>
</body>
</html>
{% endblock %}

