{% extends 'part/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <h1 style="font-family:'Times New Roman', Times, serif">Here is Product Page ! 🛒</h1>    <meta charset="UTF-8">
    <title>products</title>
</head>
<body>
    <div class="page">
        <img id="image1" src="{% static 'gallery/product/pro1.jpeg' %}" />
        <img id="image2" src="{% static 'gallery\product\pro2.jpeg' %}" />
        <img id="image3" src="{% static 'gallery/product/pro3.jpeg' %}" />
        <img id="image4" src="{% static 'gallery/product/pro4.jpeg' %}" />
        <img id="image5" src="{% static 'gallery/product/pro5.jpeg' %}" />
        <img id="image6" src="{% static 'gallery/product/pro6.jpeg' %}" />
        <img id="image7" src="{% static 'gallery/product/pro7.jpeg' %}" />
        <img id="image8" src="{% static 'gallery/product/pro8.jpeg' %}" />
        <img id="image9" src="{% static 'gallery/product/pro9.jpeg' %}" />
        <img id="image10" src="{% static 'gallery/product/pro10.jpeg' %}" />
        <img id="image11" src="{% static 'gallery/product/pro11.jpeg' %}" />
        <img id="image12" src="{% static 'gallery/product/pro.jpeg' %}" />

    </div>
</body>
</html>
{% endblock %}
